### PYTHON DATA STRUCTURES
- List
- Tuple
- Dictionary
- sets
- stack
- queue

# LIST
- Collection of heterogeneous elements
- enclosed by brackets []
- Seperated by (,)

# LIST OPERATIONS
- list addition
- Replication
- Membership
- Slicing

In [2]:
l=[] #empty list

In [5]:
a="revanth"
a.upper()
#print(a)

'REVANTH'

In [10]:
a=['kia','jio',57,22.34,'rvg']
b=[700,2655]
print(a+b)
print(a*2)
print(700 in b)
print(a[2:6])

['kia', 'jio', 57, 22.34, 'rvg', 700, 2655]
['kia', 'jio', 57, 22.34, 'rvg', 'kia', 'jio', 57, 22.34, 'rvg']
True
[57, 22.34, 'rvg']

In [35]:
a=[57,22.34,'rvg']
b=['kia','jio']
a.append(b)
print (a)
a.extend(b)
print (a)
b.insert(0,2500)
print (b)
a.remove(22.34)
print (a)
c=[23,23.88,5.9]
c.sort()
print(c)

[57, 22.34, 'rvg', ['kia', 'jio']]
[57, 22.34, 'rvg', ['kia', 'jio'], 'kia', 'jio']
[2500, 'kia', 'jio']
[57, 'rvg', [2500, 'kia', 'jio'], 'kia', 'jio']
[5.9, 23, 23.88]

In [41]:
a[2].insert(1,555)
a

[57, 'rvg', [50, 555, 'kia', 'jio'], 'kia', 'jio']

In [46]:
a[2].append('999')
print(a)
a[2].remove(50)

[57, 'rvg', [50, 'kia', 'jio', '999', '999', '999', '999', '999'], 'kia', 'jio']

In [56]:
a.append('999')
a[2].count('999')+a.count('999') # gives the count of particular element

6

In [54]:
a.count('jio')

1

In [57]:
a.index('jio')

4

In [60]:
b.clear()
b

[]

In [75]:
a=[1,2,4,5]
c=a.copy()
c.clear()
a

[1, 2, 4, 5]

In [76]:
a=['kia','jio',57,22.34,'rvg',[700,2655],999]
a.pop()
a

['kia', 'jio', 57, 22.34, 'rvg', [700, 2655]]

In [80]:
a=input().split()
s=0
for i in a:
    s+=int(i)
s

1 2 3

6

In [5]:
l1=input().split()
l2=input().split()
l3=[]
for i in range(len(l1)):
    re=int(l1[i])+int(l2[i])
    l3.append(re)
print(l3)

1 2
3 4
[4, 6]

In [17]:
n=int(input())
inn=c=o=0
i=0
while(i<n):
    i+=1
    s=input()
    if ('.com' in s):
        c+=1
    elif('.in' in s):
        inn+=1
    elif('.org' in s):
        o+=1
print()
print(max(c,o,inn))

4
rr.com
gg.in
pp.com
cc.com

3

In [21]:
a=input().split()
s=0
for i in a:
    if (i.isdigit()):
        s+=int(i)
s

123 abc dfg 100 kml 100

323

In [4]:
s1={45,3,2,77,89,146}
s2={4,78,12,146,77}
print(s1.difference(s2))
print(s2.difference(s1))

{89, 2, 3, 45}
{4, 12, 78}

s1.difference_update(s2)

In [6]:
s1.difference_update(s2)
s1

{2, 3, 45, 89}

In [10]:
s1={12,56,33,12,67,88}
s2={33,66,99,245,56,12}
print(s1.union(s2))
print(s1.intersection(s2))

{33, 66, 67, 99, 12, 245, 56, 88}
{56, 33, 12}

In [14]:
a={1,2,3}
b={1,2,5,3}
print(a.issubset(b))
print(b.issuperset(a))
print(a.isdisjoint(b)) #returns true if no common elements among the sets

True
True
False
{5}

In [15]:
a={1,2,3,23,902}
b={1,2,5,3}
print(a.symmetric_difference(b))

{5, 902, 23}

In [16]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [20]:
a={1,2,3,23,902}
a.remove(23)
a

{1, 2, 3, 902}

DICTIONARY

In [48]:
dd={'a':"goa",'b':"hyd"}
print(dd.get('a'))
dd.update({'c':"nrt"})
print(dd)
dd.update({"project":['rvg','siri','anu','amru']})
print(dd)
print(dd.items())
print(dd.values())
print(dd.keys())
dd.setdefault('clg','sten')
print(dd)
dd.update({'clg':"nrt"})
print(dd)

goa
{'a': 'goa', 'b': 'hyd', 'c': 'nrt'}
{'a': 'goa', 'b': 'hyd', 'c': 'nrt', 'project': ['rvg', 'siri', 'anu', 'amru']}
dict_items([('a', 'goa'), ('b', 'hyd'), ('c', 'nrt'), ('project', ['rvg', 'siri', 'anu', 'amru'])])
dict_values(['goa', 'hyd', 'nrt', ['rvg', 'siri', 'anu', 'amru']])
dict_keys(['a', 'b', 'c', 'project'])
{'a': 'goa', 'b': 'hyd', 'c': 'nrt', 'project': ['rvg', 'siri', 'anu', 'amru'], 'clg': 'sten'}
{'a': 'goa', 'b': 'hyd', 'c': 'nrt', 'project': ['rvg', 'siri', 'anu', 'amru'], 'clg': 'nrt'}

In [ ]:
def addfn(n):
    i=1
    dd={}
    while(i<=n):
        i+=1
        a=input().split()
        dd[a[0]]=a[1:3]
    print(dd)
n=int(input())
addfn(n)

In [55]:
d1={'a':"goa",'b':"hyd"}
a

['3', 'kk', 'mech']

## Regular Expression
- Regular epressions are a powerful string manipulation tool
- all modern languages have similar library packages for regular expressions 
- a regular expression also referred as 'regex' or 'regexp' or 're'
- It provides a concise and flexible means for matching strings of text, such as particular characters ,words, patterns of characters

# REGULAR EXPRESSION QUICK GUIDE
- (^) Matches the beginning of a line
- ($) matches the end of a line
- (.) Matches any character
- (\s) Matches whitespace
- (\S) Matches any non-whitespace character
- (*) Repeats a character zero or more times
- (+) repeats a character one or more times
- [aeiou] Matches a single character in the listed set
- [^XYZ] Matches a single character not in the listed set
- [a-z 0-9] The set of characters can include a range

# Methods
- re.match()
- re.search()
- re.findall()

In [6]:
import re
print(re.match("r","revanth")) #checks first character
print(re.search("t","revanth"))#checks for first occurence
print(re.findall("r","revanth"))#checks all occurances and returns list of matches

<re.Match object; span=(0, 1), match='r'>
<re.Match object; span=(5, 6), match='t'>
['r']