# FILE HANDLING
#### File is a collection of record, Record is a collection of data and data is collection of bytes
### FILE OPERATIONS
- Open()
- close()
### Modes
- read()
- write()
- append()

In [1]:
m=int(input())
n=int(input())
ev=[]
od=[]
for i in range(m,n+1):
    if i%2==0:
        ev.append(i)
    else:
        od.append(i)
print(ev)
print(od)

12
78
[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78]
[13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77]

In [1]:
ff=open("data.txt")
fr=ff.read()
print(fr)
ff.close()

sai tirumala nvr engineering college
 engineering college sai tirumala

In [2]:
with open ("data.txt") as f:
    h=f.read()
    print(h)

sai tirumala nvr engineering college
 engineering college sai tirumala

In [5]:
with open("data.txt",'w') as f:
    fh=f.write("revanth \n @ sai tirumala nvr engineering college")
    print(fh)

48

In [6]:
with open("data.txt",'a') as f:
    fh=f.write("\n with roll no:16AR1A05A7")
    print(fh)

25

In [22]:
with open ("data.txt") as f:
    h=f.read()
    c=l=w=0
    for i in h:
        if i.isalnum():
            c+=1
        if i=='\n':
            l+=1
        if i==' ' or i=='\n':
            w+=1
print(c,l+1,w)

47 3 8

# Iterators
- iter()
- next()

In [25]:
a=iter("mstp")
print(next(a))
print(next(a))
print(next(a))
print(next(a))

m
s
t
p

In [27]:
l=["amvt","vizag","nrt"]
z=iter(l)
print(next(z))
print(next(z))

amvt
vizag

In [28]:
def cube():
    n=2
    while True:
        n=n **2
        yield n
a=cube()
for i in range(3):
    print(next(a))

4
16
256

In [29]:
#map
l=input().split()
k=list(map(str,l))
k

12 45 76

['12', '45', '76']

In [31]:
import math
m=list(map(math.sqrt,range(1,10)))
m

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [32]:
def sq(n):
    return n**2
k=list(map(sq,[1,4,6,8]))
ls=[2,9,5,7,3]
nli=list(map(sq,ls))
print(k)
print(nli)

[1, 16, 36, 64]
[4, 81, 25, 49, 9]

In [4]:
#filter
l=[3,4,6,"a",'d','g']
def fnc(n):
    n=str(n)
    if n.isalpha():
        return True
    return False
k=list(filter(fnc,l))
print(k)

['a', 'd', 'g']

In [6]:
#lambda
r=list(list(map(lambda x:x*3,l)))
r

[9, 12, 18, 'aaa', 'ddd', 'ggg']

In [8]:
m=lambda a:a**2
m(4)

16

 ## Modules
- Collection of python file functions 
## Packages
- Collection of Modules

In [12]:
from math import sqrt
s=int(sqrt(6400))
s

80

In [13]:
from math import sqrt as ss
s=int(ss(6400))
s

80

In [18]:
import random 
random.randint(1,100)

31

In [20]:
l=[1,6,4,2]
sq=[n**2 for n in l]
sq

[1, 36, 16, 4]

In [23]:
m=[[1,3],[4,5],[8,9]]
res=[v for r in m for v in r]
res

[1, 3, 4, 5, 8, 9]

In [29]:
n=[i for i in range(1,25)]
res=[i for i in n if i%2==0 if i%3==0]
res

[6, 12, 18, 24]

In [38]:
import random
l=[random.randint(1,100) for i in range(1,10) ]
re=["Even" if i%2==0 else "ODD" for i in l]
print(l,re)

[7, 37, 60, 52, 83, 4, 7, 61, 61] ['ODD', 'ODD', 'Even', 'Even', 'ODD', 'Even', 'ODD', 'ODD', 'ODD']

In [44]:
import random
m=[[random.randint(1,100) for i in range(5)]for r in range(4)]
m

[[22, 73, 60, 74, 97],
 [86, 11, 79, 4, 56],
 [100, 64, 95, 18, 15],
 [5, 57, 78, 77, 97]]

In [45]:
ls=[1,2,3,4,5]
c=[n**3 for n in ls]
c

[1, 8, 27, 64, 125]

In [49]:
p={"pen":20,"pencil":10,"box":30, "book":15}
fp={key:float(value) for key,value in p.items()}
fp

{'pen': 20.0, 'pencil': 10.0, 'box': 30.0, 'book': 15.0}